# Build artifacts
dist/
/main.js
/index.*

# Obsidian configuration
test/vault/.obsidian/workspace

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Output of 'npm pack'
*.tgz

# Logs
*.log
